<div class="card">
  <h3 class="card-header">Latest Transactions</h3>

  <div class="card-block">
    <table class="table">
      <thead>
        <tr>
          <th>Source</th>
          <th>Target</th>
          <th>Amount [CHF]</th>
          <th>Balance [CHF]</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.from}}</td>
          <td>{{transaction.target}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.total}}</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" routerLink="/dashboard/transactions">All Transactions</a>
  </div>
</div>
