<div class="card">
  <h3 class="card-header">New Payment</h3>
  <div class="card-block">

    <form (ngSubmit)="pay(payForm)" #payForm="ngForm" [hidden]="isProcessing">
      <div class="form-group">
        <label for="from">From</label>
        <input class="form-control" type="text" name="from" id="from" value="{{bankAccount?.accountNr}} [{{bankAccount?.amount | currency : 'CHF'}}]" ngModel #from="ngModel" required disabled />
      </div>

      <div class="form-group">
        <label for="target">To</label>
        <input class="form-control" placeholder="Target Account Number" type="text" name="target" id="target" ngModel #target="ngModel" (ngModelChange)="validateTarget($event)" required />
        <small class="form-text text-muted" [hidden]="target.valid">Please specify the target account number.</small>
        <small class="form-text text-muted" [hidden]="targetBankAccount">Unknown account number specified.</small>
        <small class="form-text text-muted" [hidden]="!target.valid">{{targetBankAccount?.owner.firstname}} {{targetBankAccount?.owner.lastname}}</small>
      </div>

      <div class="form-group">
        <label for="amount">Amount [CHF]</label>
        <input class="form-control" pattern=".{1,}" placeholder="Amount in CHF" type="number" name="amount" id="amount" ngModel #amount="ngModel" step="0.05" required />
        <small class="form-text text-muted" [hidden]="amount.valid">Please specify the amount.</small>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!payForm.valid">Pay</button>
    </form>

    <div [hidden]="!isProcessing">
      <p>Transaction to {{successfulTransaction?.target}} succeeded!</p>
      <p>New balance {{successfulTransaction?.total | currency: 'CHF'}}.</p>
      <p><button class="btn btn-primary" (click)="isProcessing=false">Start over</button></p>
    </div>
  </div>
</div>
